**Data Analysis of Energy consumption of Connect Nodejs Framework**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# load Connect Framework Data
T1 = "drive/My Drive/Study/ICTE/connect/T1.csv"
T2 = "drive/My Drive/Study/ICTE/connect/T2.csv"
T3 = "drive/My Drive/Study/ICTE/connect/T3.csv"
T4 = "drive/My Drive/Study/ICTE/connect/T4.csv"
T5 = "drive/My Drive/Study/ICTE/connect/T5.csv"
T6 = "drive/My Drive/Study/ICTE/connect/T6.csv"
T7 = "drive/My Drive/Study/ICTE/connect/T7.csv"
T8 = "drive/My Drive/Study/ICTE/connect/T8.csv"
T9 = "drive/My Drive/Study/ICTE/connect/T9.csv"
T10 = "drive/My Drive/Study/ICTE/connect/T10.csv"


df_T1 = pd.read_csv(T1, parse_dates=['time'])
df_T2 = pd.read_csv(T2, parse_dates=['time'])
df_T3 = pd.read_csv(T3, parse_dates=['time'])
df_T4 = pd.read_csv(T4, parse_dates=['time'])
df_T5 = pd.read_csv(T5, parse_dates=['time'])
df_T6 = pd.read_csv(T6, parse_dates=['time'])
df_T7 = pd.read_csv(T7, parse_dates=['time'])
df_T8 = pd.read_csv(T8, parse_dates=['time'])
df_T9 = pd.read_csv(T9, parse_dates=['time'])
df_T10 = pd.read_csv(T10, parse_dates=['time'])


# Set max_rows and max_columns options
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
# Set the start and end timestamp of experiment 1

start_ts = pd.Timestamp('7:05:37 PM')
end_ts = pd.Timestamp('7:06:02 PM')

time_diff1 = (end_ts - start_ts).total_seconds()
display(time_diff1)

# Extract the rows that fall within the timestamp range
filtered_T1 = df_T1[(df_T1['time'] >= start_ts) & (df_T1['time'] <= end_ts)]

# display(filtered_T1)

25.0

In [5]:
# Set the start and end timestamp of experiment 2
start_ts = pd.Timestamp('7:08:39 PM')
end_ts = pd.Timestamp('7:09:03 PM')

time_diff2 = (end_ts - start_ts).total_seconds()
display(time_diff2)
# Extract the rows that fall within the timestamp range
filtered_T2 = df_T2[(df_T2['time'] >= start_ts) & (df_T2['time'] <= end_ts)]
# display(filtered_T2)

24.0

In [6]:
# Set the start and end timestamp of experiment 3
start_ts = pd.Timestamp('7:12:49 PM')
end_ts = pd.Timestamp('7:13:13 PM')

time_diff3 = (end_ts - start_ts).total_seconds()
display(time_diff3)
# Extract the rows that fall within the timestamp range
filtered_T3 = df_T3[(df_T3['time'] >= start_ts) & (df_T3['time'] <= end_ts)]
# display(filtered_T3)

24.0

In [7]:
# Set the start and end timestamp of experiment 4
start_ts = pd.Timestamp('7:25:43 PM') 
end_ts = pd.Timestamp('7:26:07 PM')

time_diff4 = (end_ts - start_ts).total_seconds()
display(time_diff4)
# Extract the rows that fall within the timestamp range
filtered_T4 = df_T4[(df_T4['time'] >= start_ts) & (df_T4['time'] <= end_ts)]
# display(filtered_T4)

24.0

In [8]:
# Set the start and end timestamp of experiment 5
start_ts = pd.Timestamp('7:33:43 PM') 
end_ts = pd.Timestamp('7:34:08 PM')

time_diff5 = (end_ts - start_ts).total_seconds()
display(time_diff5)
# Extract the rows that fall within the timestamp range
filtered_T5 = df_T5[(df_T5['time'] >= start_ts) & (df_T5['time'] <= end_ts)]
# display(filtered_T5)

25.0

In [9]:
# Set the start and end timestamp of experiment 6
start_ts = pd.Timestamp('7:36:13 PM') 
end_ts = pd.Timestamp('7:36:38 PM')

time_diff6 = (end_ts - start_ts).total_seconds()
display(time_diff6)
# Extract the rows that fall within the timestamp range
filtered_T6 = df_T6[(df_T6['time'] >= start_ts) & (df_T6['time'] <= end_ts)]
# display(filtered_T6)

25.0

In [10]:
# Set the start and end timestamp of experiment 7
start_ts = pd.Timestamp('7:39:48 PM') 
end_ts = pd.Timestamp('7:40:13 PM')

time_diff7 = (end_ts - start_ts).total_seconds()
display(time_diff7)

# Extract the rows that fall within the timestamp range
filtered_T7 = df_T7[(df_T7['time'] >= start_ts) & (df_T7['time'] <= end_ts)]
# display(filtered_T7)

25.0

In [11]:
# Set the start and end timestamp of experiment 8
start_ts = pd.Timestamp('7:43:18 PM') 
end_ts = pd.Timestamp('7:43:42 PM')

time_diff8 = (end_ts - start_ts).total_seconds()
display(time_diff8)
# Extract the rows that fall within the timestamp range
filtered_T8 = df_T8[(df_T8['time'] >= start_ts) & (df_T8['time'] <= end_ts)]
# display(filtered_T8)

24.0

In [12]:
# Set the start and end timestamp of experiment 9
start_ts = pd.Timestamp('7:46:23 PM') 
end_ts = pd.Timestamp('7:46:48 PM')

time_diff9 = (end_ts - start_ts).total_seconds()
display(time_diff9)
# Extract the rows that fall within the timestamp range
filtered_T9 = df_T9[(df_T9['time'] >= start_ts) & (df_T9['time'] <= end_ts)]

25.0

In [13]:
# Set the start and end timestamp of experiment 10
start_ts = pd.Timestamp('7:48:20 PM') 
end_ts = pd.Timestamp('7:48:45 PM')

time_diff10 = (end_ts - start_ts).total_seconds()
display(time_diff10)
# Extract the rows that fall within the timestamp range
filtered_T10 = df_T10[(df_T10['time'] >= start_ts) & (df_T10['time'] <= end_ts)]

25.0

In [14]:
#Time Mean
TIME_MEAN = (time_diff1+time_diff2+time_diff3+time_diff4+time_diff5+time_diff6+time_diff7+time_diff8+time_diff9+time_diff10)/10
print(TIME_MEAN)

24.6

In [15]:
#CPU Aplication Power 
CPU_APPLICATION_POWER_TOTAL = filtered_T1[' Application (W)'].sum() + filtered_T2[' Application (W)'].sum() + filtered_T3[' Application (W)'].sum() + filtered_T4[' Application (W)'].sum() + filtered_T5[' Application (W)'].sum()+ filtered_T6[' Application (W)'].sum()  + filtered_T7[' Application (W)'].sum() + filtered_T8[' Application (W)'].sum() + filtered_T9[' Application (W)'].sum()+ filtered_T10[' Application (W)'].sum()  
CPU_APPLICATION_POWER_MEAN = CPU_APPLICATION_POWER_TOTAL/(10*TIME_MEAN)
print(CPU_APPLICATION_POWER_MEAN)

0.060569105691056904

In [16]:
#CPU  Power 
CPU_POWER_TOTAL = filtered_T1[' CPU (W)'].sum() + filtered_T2[' CPU (W)'].sum() + filtered_T3[' CPU (W)'].sum() + filtered_T4[' CPU (W)'].sum() + filtered_T5[' CPU (W)'].sum()+ filtered_T6[' CPU (W)'].sum()  + filtered_T7[' CPU (W)'].sum() + filtered_T8[' CPU (W)'].sum() + filtered_T9[' CPU (W)'].sum()+ filtered_T10[' CPU (W)'].sum()  
CPU_POWER_MEAN = CPU_POWER_TOTAL/(10*TIME_MEAN)
print(CPU_POWER_MEAN)

0.8800813008130081

In [17]:
#Monitor  Power 
MONITOR_POWER_TOTAL = filtered_T1[' Monitor (W)'].sum() + filtered_T2[' Monitor (W)'].sum() + filtered_T3[' Monitor (W)'].sum() + filtered_T4[' Monitor (W)'].sum() + filtered_T5[' Monitor (W)'].sum()+ filtered_T6[' Monitor (W)'].sum()  + filtered_T7[' Monitor (W)'].sum() + filtered_T8[' Monitor (W)'].sum() + filtered_T9[' Monitor (W)'].sum()+ filtered_T10[' Monitor (W)'].sum()  
MONITOR_POWER_MEAN = MONITOR_POWER_TOTAL/(10*TIME_MEAN)
print(MONITOR_POWER_MEAN)

6.544715447154472

In [18]:
#Disk  Power 
DISK_POWER_TOTAL = filtered_T1[' Disk (W)'].sum() + filtered_T2[' Disk (W)'].sum() + filtered_T3[' Disk (W)'].sum() + filtered_T4[' Disk (W)'].sum() + filtered_T5[' Disk (W)'].sum()+ filtered_T6[' Disk (W)'].sum()  + filtered_T7[' Disk (W)'].sum() + filtered_T8[' Disk (W)'].sum() + filtered_T9[' Disk (W)'].sum()+ filtered_T10[' Disk (W)'].sum()  
DISK_POWER_MEAN =DISK_POWER_TOTAL/(10*TIME_MEAN)
print(DISK_POWER_MEAN)

0.0004065040650406504

In [19]:
#BASE  Power 
BASE_POWER_TOTAL = filtered_T1[' Base (W)'].sum() + filtered_T2[' Base (W)'].sum() + filtered_T3[' Base (W)'].sum() + filtered_T4[' Base (W)'].sum() + filtered_T5[' Base (W)'].sum()+ filtered_T6[' Base (W)'].sum()  + filtered_T7[' Base (W)'].sum() + filtered_T8[' Base (W)'].sum() + filtered_T9[' Base (W)'].sum()+ filtered_T10[' Base (W)'].sum()  
BASE_POWER_MEAN = BASE_POWER_TOTAL/(10*TIME_MEAN)
print(BASE_POWER_MEAN)

14.024390243902438

In [20]:
#Total Hardware energy
TOTAL_HARDWARE_ENERGY = (CPU_POWER_MEAN + MONITOR_POWER_MEAN + DISK_POWER_MEAN + BASE_POWER_MEAN)
print(TOTAL_HARDWARE_ENERGY)

21.44959349593496

In [21]:
#Agreegated Total Energy
AGGEGATED_TOTAL_ENERGY = TOTAL_HARDWARE_ENERGY + CPU_APPLICATION_POWER_MEAN
print(AGGEGATED_TOTAL_ENERGY)

21.510162601626018